.contact-form {
  form {
    max-width: 620px;
    margin: 0 auto;
    // padding: 2rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .thecaptcha {
      margin-top: 0.5rem;
    }

    .item {
      width: 100%;
      height: 48px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      label {
        font-size: 17px;
        font-weight: 600;
        color: #161513;
      }
      .input-item {
        width: 100%;
        height: 100%;
        border: 2px solid #161513;
        display: flex;
        flex-direction: row;
        gap: 5px;
        font-size: 27px;
        align-items: center;
        padding: 0.5rem 1rem;
        color: #161513;

        &:focus-within {
          border: 2px solid #0000ff;
        }

        input,
        textarea {
          width: 100%;
          height: 100%;
          font-size: 17px;
          color: #161513;
          font-weight: 600;
          padding: 0 0 0 0.5rem;
          background-color: transparent;
          border: none;
          outline: none;
        }
        textarea {
          resize: none;
        }
      }
    }

    button {
      width: 100%;
      //   margin-top: 0.2rem;
    }
  }
}
