.logo {
  width: 120px;
  height: auto;
}

.icon-wr {
  background-color: #161513;
  padding: 10px;
  cursor: pointer;
}
.icon {
  font-size: 25px;
  color: white;
  pointer-events: none;
}

.menu {
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;

    li {
      font-size: 17px;
      font-weight: 600;

      a {
        &.active {
          border-bottom: 1px solid #161513;
        }
        &:hover {
          color: #0000ff;
          border-bottom: 1px solid #0000ff;
          transition: all 0.5s ease;
        }
      }
    }
  }
}

.empty-btn {
  width: fit-content;
  background-color: transparent;
  color: #161513;
  font-weight: 600;
  font-size: 17px;
  padding: 0.8rem 1.8rem;
  border: 1px solid #161513;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: #161513;
    color: white;
  }
  &:hover button {
    text-decoration: underline;
  }
}
.full-btn {
  width: fit-content;
  background-color: #161513;
  color: white;
  font-weight: 600;
  font-size: 17px;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    background-color: #161513;
    color: white;
  }
  &:hover button {
    text-decoration: underline;
  }
}

.filled-btn {
  width: fit-content;
  background-color: transparent;
  color: #161513;

  font-weight: 600;
  font-size: 17px;
  padding: 0.8rem 0;
  border: none;
  cursor: pointer;
  transition: all 300ms ease;

  &:hover {
    color: #0000ff;
  }

  button {
    text-decoration: underline;
  }
}

.full-w-btn {
  width: 100% !important;
  text-align: center;
}

.sidemenu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.445);
  z-index: 4;
}

.content {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 70%;
  background-color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;

  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    li {
      color: #161513;
      font-weight: 600;
      font-size: 24px;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        line-height: 1;
        font-size: 18px;
        padding: 0;
        margin: 0;

        &.active {
          border-bottom: 1px solid #161513;
        }
        &:hover {
          color: #0000ff;
          border-bottom: 1px solid #0000ff;
          transition: all 0.5s ease;
        }
      }
    }
  }

  button {
    background-color: #161513;
    color: white;
    font-weight: 600;
    font-size: 17px;
    padding: 0.8rem 1.8rem;
    cursor: pointer;
    transition: all 300ms ease;
  }
}

.back-to-top {
  position: fixed;
  z-index: 3;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #0000ff;
  border: 2px solid #0000ff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

// loading
.loading {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 100;

  .loader {
    height: 7px;
    background-color: #0000ff;
    position: fixed;
    top: 0;
    z-index: 101;
    animation: loading 1s linear 1;
  }

  @keyframes loading {
    from {
      width: 0%;
    }
    to {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .back-to-top {
    bottom: 1rem;
    right: 1rem;
    font-size: 22px;
    border: 1px solid #0000ff;
  }
}
