.post-section {
  position: relative;

  .layer3 {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 100%);

    &:last-child {
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, 20%);
    }
  }
}

.post-container {
  .post-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;

    .post-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      // back to all
      .back {
        display: flex;
        flex-direction: row;
        gap: 0.8rem;
        font-size: 22px;
        font-weight: 700;
        cursor: pointer;
        margin-top: -3rem;
      }
    }
    .post-actions {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;

      .actions {
        width: 100%;
        height: fit-content;
        padding: 2rem;
        background-color: #161513;

        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 1rem;
          border: 2px solid white;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.mobile-actions {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 5px 10px rgba(193, 193, 193, 0.156);

    div {
      width: 100% !important;
      border-right: 1px solid white;
      display: flex;
      align-items: center;
      justify-content: center;

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .post-grid {
    grid-template-columns: 2fr 1fr !important;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }

  .blog-post {
    grid-template-columns: 1fr !important;
  }
}
